@using BudgetMagic.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        @Html.ActionLink("Budget Magic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsedNav" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsedNav">
            <nav class="nav nav-pills flex-column flex-md-row">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link flex-sm-fill text-sm-center text-light" + Html.Active(actions: "Index", controllers: "Home") })
                @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link flex-sm-fill text-sm-center text-light" + Html.Active(actions: "About", controllers: "Home") })
                @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link flex-sm-fill text-sm-center text-light" + Html.Active(actions: "Contact", controllers: "Home") })
                @Html.ActionLink("Decks", "Index", "Decks", null, new { @class = "nav-link flex-sm-fill text-sm-center text-light" + Html.Active(actions: "Index", controllers: "Decks") })
            </nav>
            @Html.Partial("_LoginPartial")
        </div>        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JB Designs</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $()
    </script>
</body>
</html>
